/* Reset base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  background-color: #3c56b6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo-cnt {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  max-width: 80%;
  height: auto;
  padding-left: 15px;
}

.logo h1 {
  font-size: 28px;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 10px;
}

.nav-links li {
  font-size: 18px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.nav-links a:hover {
  background-color: #5c6bc0;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }

  .logo {
    width: 100px;
    max-width: 90%;
  }

  .nav-links {
    gap: 10px;
    margin-top: 10px;
  }
}
