/* Reset base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.logo {
  width: 100px;
  max-width: 80%;
  height: auto;
  padding-left: 15px;
}

.logo h1 {
  font-size: 28px;
  color: white;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }

  .logo {
    width: 100px;
    max-width: 90%;
  }

  .nav-links {
    gap: 10px;
    margin-top: 10px;
  }
}

:root {
  --primary-color: #11121a;
  --hover-color: #272832;
  --accent-color: #0071ff;
  --text-color: #c9c9c9;
}

img {
  width: 20px;
}

.header-container {
  position: relative;
  background-color: #3c56b6;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3000;
}

nav {
  background-color: #3c56b6;
  border-bottom: 1px solid var(--hover-color);
}

nav ul {
  display: flex;
  align-items: stretch;
}

nav li {
  list-style: none;
  display: flex;
}

nav .home-li {
  margin-right: auto;
  display: flex;
  align-items: center;
}

nav a {
  display: flex;
  text-decoration: none;
  color: var(--text-color);
  padding: 1em 2em;
  transition: background-color 150ms ease;
  align-items: center;
}

nav a:hover {
  background-color: #0071ff;
  /* border-radius: 35px; */
}

nav a.active-link {
  border-bottom: 2px solid var(--text-color);
}

nav a.accent-link {
  background-color: var(--accent-color);
  /* border-radius: 35px; */
  margin-right: 15px;
}

#open-sidebar-button {
  display: none;
  background: none;
  border: none;
  padding: 1em;
  margin-left: auto;
  cursor: pointer;
}

#close-sidebar-button {
  display: none;
  background: none;
  border: none;
  padding: 1em;
  cursor: pointer;
}

#navbar {
  display: block;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: block;
}

@media screen and (max-width: 700px) {
  #open-sidebar-button,
  #close-sidebar-button {
    display: block;
  }

  #navbar {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: min(15em, 100%);
    z-index: 100;
    border-left: 1px solid var(--hover-color);
    transition: right 300ms ease-out;
    display: block;
    background-color: #3c56b6;
  }

  #navbar.show {
    right: 0;
  }

  #navbar ul {
    flex-direction: column;
    width: 100%;
  }

  #navbar a {
    width: 100%;
    padding-left: 2.5em;
    margin: auto;
  }

  #navbar a.active-link {
    border-bottom: none;
    border-left: 2px solid var(--text-color);
  }

  nav .home-li {
    margin-right: unset;
  }
}
